<div class="row align-items-center">

  <div class="col-6" style="background-image:url(<%= asset_path 'vibes-resort-3.jpg' %>); background-position: center right; min-height:100vh;">

  </div>

  <div class="col-6">

    <div class="container" style="width:90%;">
      <h1 class="pb-4">Téléchargez la plaquette<br> de Vibes Resort</h1>

      <p class="p-font pt-4 pb-4">Pour télécharger la plaquette de notre résidence Vibes Resort située au Cap d'Agde, veuillez remplir le formulaire ci-dessous.  </p>

      <%= form_tag url_for(plaquette_index_path), :plaquette => @plaquette, id: 'contact-form', method: 'post' do %>
      <div class="row " >
          <div class="col-md-12">
            <div class="form-group">
              <%= text_field_tag 'email', nil, placeholder: "E-mail *", class:"form-control" %>
            </div>
          </div>
          <div class="col-md-10 align-items-center">

            <div class="submit-button text-center">
              <%= submit_tag "Valider", class:"btn-get-started", style:"border-radius:20px;" %>
              <%end%>

            </div>
          </div>
      </div>
      </div>

  </div>

</div>
